setup/**/*.json
**/istio-manifest.yaml
build-images/_integration/neo4j/logs/*.log
provision-k8s/_init/**/*
!provision-k8s/_init/README.md
deploy-monitoring/elasticsearch-auth.yml
**/*.env
**/overlays/**/kube/config
