JUPYTER_PASSWORD_SHA1=sha1:8ada89c23fb7:887a5e9faf47468fecc976c81d8e0b29db8da538
HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=localhost,127.0.0.1
NEO4J_URI=http://neo4j:myPasswordDamnIt@neo4j:7474/db/data
LIBMETRIC_URL=http://prometheus.monitoring-stack.svc.cluster.local:9090/prometheus
